// ========================================
// Fontes
// ========================================

// GT Pressura Mono
// ========================================

// Bold
@font-face {
	font-family: "PressuraMono";
	src: url("../fonts/GT-Pressura/GT-Pressura-Mono-Bold-Trial.woff2")
		format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

// GT Pressura
// ========================================

// Light
@font-face {
	font-family: "Pressura";
	src: url("../fonts/GT-Pressura/GT-Pressura-Light-Trial.woff2")
		format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pressura";
	src: url("../fonts/GT-Pressura/GT-Pressura-Light-Italic-Trial.woff2")
		format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

// Text
@font-face {
	font-family: "Pressura";
	src: url("../fonts/GT-Pressura/GT-Pressura-Text-Trial.woff2")
		format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pressura";
	src: url("../fonts/GT-Pressura/GT-Pressura-Text-Italic-Trial.woff2")
		format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

// Regular
@font-face {
	font-family: "Pressura";
	src: url("../fonts/GT-Pressura/GT-Pressura-Regular-Trial.woff2")
		format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pressura";
	src: url("../fonts/GT-Pressura/GT-Pressura-Regular-Italic-Trial.woff2")
		format("woff2");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

// Medium
@font-face {
	font-family: "Pressura";
	src: url("../fonts/GT-Pressura/GT-Pressura-Medium-Trial.woff2")
		format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pressura";
	src: url("../fonts/GT-Pressura/GT-Pressura-Medium-Italic-Trial.woff2")
		format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

// Bold
@font-face {
	font-family: "Pressura";
	src: url("../fonts/GT-Pressura/GT-Pressura-Bold-Trial.woff2")
		format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pressura";
	src: url("../fonts/GT-Pressura/GT-Pressura-Bold-Italic-Trial.woff2")
		format("woff2");
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

// Black
@font-face {
	font-family: "Pressura";
	src: url("../fonts/GT-Pressura/GT-Pressura-Black-Trial.woff2")
		format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pressura";
	src: url("../fonts/GT-Pressura/GT-Pressura-Black-Italic-Trial.woff2")
		format("woff2");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
