// ========================================
// Fontes
// ========================================

@use "../abstract/host" as var;

// GT Pressura Mono
// ========================================

// Light
@font-face {
	font-family: "PressuraMono";
	src: url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Mono-Light.woff2")
			format("woff2"),
		url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Mono-Light.woff")
			format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

// Regular
@font-face {
	font-family: "PressuraMono";
	src: url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Mono-Regular.woff2")
			format("woff2"),
		url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Mono-Regular.woff")
			format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

// Bold
@font-face {
	font-family: "PressuraMono";
	src: url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Mono-Bold.woff2")
			format("woff2"),
		url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Mono-Bold.woff")
			format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

// GT Pressura
// ========================================

// Light
@font-face {
	font-family: "Pressura";
	src: url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Light.woff2")
			format("woff2"),
		url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Light.woff")
			format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pressura";
	src: url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Light-Italic.woff2")
			format("woff2"),
		url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Light-Italic.woff")
			format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

// Text
@font-face {
	font-family: "Pressura";
	src: url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Text.woff2")
			format("woff2"),
		url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Text.woff")
			format("woff");
	font-weight: 350;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pressura";
	src: url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Text-Italic.woff2")
			format("woff2"),
		url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Text-Italic.woff")
			format("woff");
	font-weight: 350;
	font-style: italic;
	font-display: swap;
}

// Regular
@font-face {
	font-family: "Pressura";
	src: url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Regular.woff2")
			format("woff2"),
		url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Regular.woff")
			format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pressura";
	src: url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Regular-Italic.woff2")
			format("woff2"),
		url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Regular-Italic.woff")
			format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

// Medium
@font-face {
	font-family: "Pressura";
	src: url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Medium.woff2")
			format("woff2"),
		url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Medium.woff")
			format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pressura";
	src: url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Medium-Italic.woff2")
			format("woff2"),
		url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Medium-Italic.woff")
			format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

// Bold
@font-face {
	font-family: "Pressura";
	src: url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Bold.woff2")
			format("woff2"),
		url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Bold.woff")
			format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pressura";
	src: url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Bold-Italic.woff2")
			format("woff2"),
		url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Bold-Italic.woff")
			format("woff");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

// Black
@font-face {
	font-family: "Pressura";
	src: url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Black.woff2")
			format("woff2"),
		url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Black.woff")
			format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pressura";
	src: url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Black-Italic.woff2")
			format("woff2"),
		url("#{var.$host}/squelettes/webfonts/GT-Pressura/GT-Pressura-Standard-Black-Italic.woff")
			format("woff");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
