@use "modern-css-reset/dist/reset.css";

// https: //andy-bell.co.uk/a-more-modern-css-reset/

//Make sure textareas without a rows attribute are not tiny
textarea:not([rows]) {
	min-height: 10em
}

// Anything that has been anchored to should have extra scroll margin
:target {
	scroll-margin-block: 5ex;
}
