// ========================================
// ARTICLE
// styles d'une page d'Article
// ========================================

$inset-space: var(--space-2xs-s);
$inset-width: 2px;

// .article {}

.article_logo {
	position: relative;
}

.article_surtitre {
	font-size: var(--step--1);
	font-weight: 500;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-bottom: var(--space-3xs);
}

.article_titre {
	color: var(--color-primary);
}

.article_date {
	margin-top: var(--space-s);
	font-family: var(--font-family-mono);
	font-size: var(--step--2);
	font-weight: 300;
	text-transform: uppercase;
}

.article_content {
	& img {
		width: 100%;
	}

	& :is(.article_desc + .article_logo),
	& :is(.article_logo + *) {
		// margin-top: var(--space-2xl-3xl);
		margin-top: var(--space-l-xl);
	}
}

.article_desc {
	// margin-top: var(--space-2xl-3xl);
	margin-top: var(--space-l-xl);
	font-size: var(--step-2);
}

.article_texte {
	margin-top: var(--space-l-xl);
}

.article_metas {
	--pill-border-color: var(--color-secondary-200);
	margin-top: var(--space-l);

	& dt {
		text-transform: uppercase;
		font-family: var(--font-family-mono);
		font-size: var(--step--3);
	}

	& dd {
		font-size: var(--step--1);
	}

	& dd + dt {
		margin-top: var(--space-xs-s);
	}

	& dd.box-inline + dd.box-inline {
		margin-left: 0.3em;
	}
}

.article_notes {
	--grid-placement: auto-fit;
	--grid-min-item-size: 250px;
	--gutter: var(--space-s) var(--space-l);
	margin-top: var(--space-2xl-3xl);
	position: relative;

	& > div:first-child {
		&::before {
			content: "";
			height: 2px;
			background-color: var(--color-ink);
			width: 100px;
			display: block;
			position: absolute;
			top: calc(var(--space-m) * -1);
		}
	}
}

.article_metas-types {
	margin-bottom: 0.3em;
}

.article_extra {
	& > div:first-child {
		margin-top: var(--space-l-xl);
	}
}

// .article_portfolio {}

.article_files {
	--flow-space: var(--space-m-l);
	max-width: var(--wrapper-narrow-max-width);
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--gutter);
	padding-right: var(--gutter);

	& .spip_document_file {
		max-width: unset;
	}

	& + .article_portfolio {
		margin-top: var(--space-2xl-3xl);
	}
}

// Variante inset (articles Journal de bord)
// ========================================

.article[data-type="inset"] {
	width: 100%;
	display: grid;
	grid-template-columns: #{$inset-space} 80% auto #{$inset-space};
	grid-template-rows: 1fr auto;

	&::before,
	&::after {
		display: block;
		content: "";
		border: $inset-width solid var(--color-primary);
		position: relative;
	}

	&::before {
		grid-column: 1 / 3;
		grid-row: 2 / -1;
		border-top: none;
		border-right: none;
	}

	&::after {
		grid-column: 3 / 4;
		grid-row: 1 / -1;
		border-left: none;
	}

	.article_content {
		grid-column: 2 / 3;
		grid-row: 1;
		padding-top: #{$inset-space};
		margin-bottom: #{$inset-space};
	}

	.article_extra {
		grid-column: 2 / -1;
		grid-row: 2;
		padding-bottom: #{$inset-space};
		// margin-top: #{$inset-space};
	}
}
