// ========================================
// PROJETS
// styles de la rubrique Projets
// ========================================

// .projets {}

.projets_header {
	&.region {
		padding-bottom: var(--space-m);
	}
}

.projets_body {
	&.region {
		padding-top: 0;
	}
}

.projets_filters {
	padding-bottom: var(--space-xl);
}

// .projets_cards {}
