// ========================================
// Breadcrumb
// ========================================

@use "sass:color";
@use "sass:map";
@use "../abstract" as abstract;

$color-mute: map.get(abstract.$cloud, 700);
$color-mute-light: map.get(abstract.$cloud, 400);
$column-gap: 0.6em;

.breadcrumb {
	color: $color-mute;
	font-family: var(--font-family-mono);
	font-size: var(--step--3);
	font-weight: 300;
	line-height: 1.7;
	margin-bottom: var(--space-m);

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	a[aria-current="page"] {
		color: var(--color-ink);

		&:hover {
			color: var(--color-primary);
		}
	}
}

.breadcrumb_list {
	--gutter: 0 #{$column-gap};
	padding-left: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	gap: var(--gutter);

	li {
		display: flex;
		align-items: baseline;
		column-gap: $column-gap;
	}

	& .icon-arrow-right {
		width: 0.6em;
		height: 0.6em;
		color: $color-mute-light;
	}

	& .icon-star {
		width: 0.8em;
		height: 0.8em;
		align-self: center;
		color: $color-mute-light;
	}
}
