// ========================================
// Burger menu
// ========================================

@use "sass:color";
@use "sass:map";

.burger-menu__trigger {
	display: none;
}

.burger-menu__bar {
	top: 50%;
	transform: translateY(-50%);

	&,
	&::before,
	&::after {
		display: block;
		width: 20px;
		height: 3px;
		background: var(--color-ink);
		border: 1px solid var(--color-ink);
		position: absolute;
		border-radius: 3px;
		left: 50%;
		margin-left: -10px;
		transition: transform 0.35s ease-in-out;
	}

	&::before,
	&::after {
		content: "";
	}

	&::before {
		top: -6px;
	}

	&::after {
		bottom: -6px;
	}
}

.burger-menu[enabled="true"] .burger-menu__trigger {
	display: block;
	width: 2rem;
	height: 2rem;
	position: relative;
	z-index: 10;
	border: none;
	cursor: pointer;
	// Adaptations pour le site
	position: absolute;
	right: var(--gutter);
	top: var(--space-s);
	background-color: var(--color-paper);
	border-radius: 50%;
	box-shadow: 0px 5px 5px 0px color.adjust(#000, $alpha: -0.9),
		0px 3px 6px 2px color.adjust(#000, $alpha: -0.8);
}

.burger-menu[enabled="true"] .burger-menu__panel {
	position: fixed;
	top: var(--panel-top, 0);
	right: 0;
	bottom: 0;
	left: 0;
	padding: var(--space-xl-2xl) var(--gutter) 0;
	visibility: hidden;
	opacity: 0;
	background-color: var(--color-paper);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 9;
}

.burger-menu[enabled="true"] .navigation ul {
	--navigation-flow: column wrap;
	--navigation-align: flex-start;
	display: flex;
	gap: var(--space-s);

	// Sur mobile et orientation paysage,
	// règle simplifiée ici par un max-height à 448px,
	// le menu principal est affiché en horizontal.
	@media (max-height: 28rem) {
		--navigation-flow: row wrap;
	}
}

.burger-menu[enabled="true"] .navigation li {
	font-size: var(--step-2);
	padding: 0;
}

.burger-menu[enabled="true"] .navigation a {
	color: var(--color-ink);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__panel {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.4s ease, visibility 0.4s ease;
}

.burger-menu[enabled="true"][status="closed"] .burger-menu__panel>* {
	opacity: 0;
	transform: translateY(5rem);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__panel>* {
	transform: translateY(0);
	opacity: 1;
	transition: transform 500ms cubic-bezier(0.17, 0.67, 0, 0.87) 700ms,
		opacity 500ms ease 800ms;
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar::before {
	top: 0;
	transform: rotate(45deg);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar::after {
	top: 0;
	transform: rotate(-45deg);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar {
	background: transparent;
	border-color: transparent;
	transform: rotate(180deg);
}
