// ========================================
// button : lien et élément bouton
// ========================================

@use "sass:color";
@use "sass:map";
@use "../abstract" as abstract;

$secondary-800: map.get(abstract.$storm-gray, 800);
$secondary-500: map.get(abstract.$storm-gray, 500);
$primary-800: map.get(abstract.$pomegranate, 800);

.button {
	background-color: transparent;
	border: 2px solid transparent;
	color: currentColor;
	cursor: pointer;
	font-family: var(--font-family-mono);
	line-height: 1.1;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.45em 0.25em 0.35em;
	min-width: 10ch;
	transition: all 0.3s ease;

	&:hover,
	&:active {
		color: var(--color-ink);
		background-color: var(--color-primary);
	}

	// Variantes
	// ========================================

	// Variante avec icone
	&.with-icon {
		--icon-size: 0.75em;
		align-items: baseline;

		& svg {
			transition: transform 0.3s ease;
		}
	}

	// Variante avec icone à droite du libellé
	&.with-icon-end {
		& svg {
			margin-left: 0.5em;
		}

		&.with-hover &:hover {
			& svg {
				transform: rotate(-45deg);
			}
		}
	}

	// Variante avec icone à gauche
	&.with-icon-start {
		& svg {
			margin-right: 0.5em;
			transform: rotate(90deg);
		}

		&.with-hover &:hover {
			& svg {
				transform: rotate(135deg);
			}
		}
	}

	// Variante "Framed" transparente et bordure
	&[data-variant="framed"] {
		border-color: var(--color-primary);
		color: var(--color-primary);

		&:hover,
		&:active {
			color: var(--color-paper);
		}
	}

	// Variantes "filtre" et "tag" transparente et bordure sur le hover
	&[data-variant="filter"],
	&[data-variant="tag"] {
		border-color: color.scale($secondary-500, $alpha: -80%);
		border-radius: 4px;
		font-size: var(--step--1);

		&:hover,
		&:active {
			border-color: $secondary-500;
			background-color: var(--color-paper);
			box-shadow: 0 2px 4px color.scale($secondary-800, $alpha: -80%),
				0 3px 6px color.scale($secondary-800, $alpha: -75%);
		}

		&:active {
			box-shadow: 0 0px 4px color.scale($secondary-800, $alpha: -80%),
				0 0px 6px color.scale($secondary-800, $alpha: -75%);
		}
	}

	// Variante encadré "related" (contenus liés à un article)
	&[data-variant="related"] {
		border-color: var(--color-secondary-contrast);
		color: var(--color-secondary-contrast);
		text-transform: uppercase;

		&:hover,
		&:active {
			background-color: var(--color-primary);
			border-color: var(--color-primary);
			color: var(--color-paper);
			box-shadow: 0 2px 4px color.scale($primary-800, $alpha: -80%),
				0 3px 6px color.scale($primary-800, $alpha: -75%);
		}

		&:active {
			box-shadow: 0 0px 4px color.scale($primary-800, $alpha: -80%),
				0 0px 6px color.scale($primary-800, $alpha: -75%);
		}
	}

	// Variante pagination
	&[data-variant="pagination"] {
		border: 1px solid var(--color-ink);
		color: var(--color-ink);

		&:hover,
		&:active {
			background-color: transparent;
			border-color: var(--color-primary);
			color: var(--color-primary);
		}
	}
}
