// ========================================
// FILTERS
//
// Liste des filtres thématiques sur les projets
// ========================================

// .filters {}

// .filters_form {}

.filters_list {
	--cluster-space: 0.75rem 1rem;
}

.filters_count {
	margin-top: var(--space-l-xl);
	color: var(--color-primary);
	font-size: var(--step--1);
	font-weight: 500;
}

// .filters_reset {}
