// ========================================
// INDICATOR
//
// ========================================

.indicator {
	font-size: 0.7em;
	color: var(--color-primary);

	& span {
		vertical-align: super;
	}
}
