// Navigation principale

.navigation {
	// Si js
	// position: absolute;
	// right: 0;
	font-family: var(--font-family-mono);
	font-size: var(--step--3);
	font-weight: 700;

	& ul {
		display: flex;
		flex-flow: var(--navigation-flow, row wrap);
		align-items: var(--navigation-align, stretch);
		gap: 0 var(--space-xs);
		padding: 0;
		margin: 0;
		list-style: none;
	}

	& li {
		padding: 0.45em 0 0.35em;

		&::before {
			content: "/";
			font-weight: 300;
			margin-right: -0.35em;
		}

		&.current {
			& a::after {
				width: 100%;
			}
		}
	}

	& a {
		position: relative;
		color: currentColor;
		text-decoration: none;
		text-transform: uppercase;

		&::after {
			position: absolute;
			left: 0;
			bottom: -0.35em;
			width: 0;
			height: 2px;
			background-color: var(--color-primary);
			content: "";
			transition: opacity 0.3s, width 0.3s;
		}

		&:hover {
			color: var(--color-primary);

			&::after {
				opacity: 1;
				width: 100%;
			}
		}
	}

	&[data-navigation-variant="header"] {
		margin-top: var(--space-s);
	}

	&[data-navigation-variant="footer"] {
		margin-top: 0;

		& ul {
			--navigation-flow: column wrap;
			height: 100%;
		}

		& li {
			flex: 1;
		}
	}
}
