// Navigation principale

.navigation {
	// Si js
	// position: absolute;
	// right: 0;
	margin-top: var(--space-s);

	& ul {
		display: flex;
		flex-flow: var(--navigation-flow, row wrap);
		align-items: var(--navigation-align, stretch);
		gap: var(--space-xs);
		padding: 0;
		margin: 0;
	}

	& a {
		color: currentColor;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			color: var(--color-primary);
		}
	}

	&[data-variant="footer"] {
		margin-top: 0;

		& ul {
			--navigation-flow: column wrap;
			height: 100%;
		}

		& li {
			flex: 1;
		}
	}
}
