// ========================================
// Partners
// ========================================

.partners {
	--cluster-space: 0.5rem var(--space-xs);
	// padding-bottom: var(--space-xs);

	& h3 {
		font-size: inherit;
		font-weight: 700;
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: var(--space-xs);
	}

	& .cluster {
		padding-bottom: var(--space-m);
	}
}
