// ========================================
// Portfolio : compositions
// ========================================

@use "../tools/mq" as mq;

.portfolio {
	--flow-space: var(--space-l-xl);
}

.portfolio_album {
	display: grid;

	& figure {
		position: relative;
	}
}

.portfolio_credits {
	margin-top: var(--space-s-m);
	font-weight: 300;
	font-size: var(--step--2);
}

// Variante Cent (100%, pleine largeur)
// ========================================
.portfolio_album[data-composition="cent"] {
	gap: var(--space-m-l);
}

// Variante Cinquante-cinquante (50% / 50%)
// ========================================
.portfolio_album[data-composition="cinquante-cinquante"] {
	gap: var(--space-m-l);

	@include mq.mq($from: 576px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

// Variante Projet
// ========================================
.portfolio_album[data-composition="projet"] {
	gap: var(--space-s);

	& figure {
		aspect-ratio: 4/3;
	}

	& .portfolio_link {
		display: block;
		width: 100%;
		height: 100%;
		transition: transform 0.3s ease-out;

		&:hover {
			transform: scale(1.05);
		}
	}

	& img {
		height: 100%;
		object-fit: cover;
	}
}

@include mq.mq($from: 500px) {
	.portfolio_album[data-composition="projet"] {
		grid-template-columns: repeat(2, 1fr);

		& figure:first-child,
		& figure:nth-child(5n + 1) {
			grid-column: span 2;
		}
	}
}

@include mq.mq($from: 760px) {
	.portfolio_album[data-composition="projet"] {
		grid-template-columns: repeat(4, 1fr);

		& figure {
			aspect-ratio: 1/1;
		}

		& figure:first-child {
			grid-column: span 2;
			grid-row: span 2;
		}
	}

	.portfolio_album-pair[data-composition="projet"] {
		& figure:first-child {
			grid-column: auto;
			grid-row: auto;
		}

		& figure:last-child {
			grid-column: 3 / -1;
			grid-row: 1 / 3;
		}
	}
}

.portfolio_figure {
	& img {
		width: 100%;
	}
}
