// ========================================
// Portfolio : compositions
// ========================================

@use "../tools/mq" as mq;

.portfolio {
	margin-top: var(--space-l-xl);

	& img {
		width: 100%;
	}

	// Variante .breakout (projet) //
	&.breakout {
		--item-space: var(--space-2xl);
		margin-top: var(--space-2xl-3xl);
	}
}

.portfolio_item {
	& + & {
		margin-top: var(--item-space, var(--space-m-l));
	}

	&[data-composition] {
		display: grid;
		gap: var(--space-m-l);
		grid-template-columns: repeat(3, 1fr);

		// Disposition par défaut, chaque image sur une colonne (plein format)
		& .portfolio_media {
			grid-column: 1 / -1;
		}
	}

	// Pour une largeur >= 576px, l'éditeur peut choisir des compositions Spip
	// associées aux albums et disposer les images selon des formats différents.
	@include mq.mq($from: 576px) {
		&[data-composition] {
			& .portfolio_media {
				grid-column: auto;
			}
		}

		// Format 100%
		&[data-composition="format-100"] {
			& .portfolio_media {
				grid-column: 1 / -1;
			}
		}

		// Format 1/2 - 1/2
		// Nombre de medias : indifférent
		&[data-composition="format-50"] {
			grid-template-columns: repeat(6, 1fr);

			& .portfolio_media {
				grid-column: span 3;
			}
		}

		&[data-composition="format-75/25"] {
			grid-template-columns: repeat(6, 1fr);

			& .portfolio_media:first-child {
				grid-column: span 4;
			}

			& .portfolio_media {
				grid-column: span 2;
			}
		}

		&[data-composition="format-80/20"] {
			grid-template-columns: repeat(8, 1fr);

			& .portfolio_media:first-child {
				grid-column: span 6;
			}

			& .portfolio_media {
				grid-column: span 2;
			}
		}

		&[data-composition="format-20/80"] {
			grid-template-columns: repeat(8, 1fr);

			& .portfolio_media:first-child {
				grid-column: span 2;
			}

			& .portfolio_media {
				grid-column: span 6;
			}
		}

		// Format 1/3 - 1/3 - 1/3
		// Nombre de medias : indifférent
		// Remarque : les styles déjà définis plus haut
		// &[data-composition="format-33"] {
		// 	grid-template-columns: repeat(3, 1fr);
		//
		// 	& .portfolio_media {
		// 		grid-column: auto;
		// 	}
		// }

		&[data-composition="format-33-center"] {
			& .portfolio_media {
				grid-column: 2/3;
			}
		}

		// Format 2/3 - 1/3
		// Nombre de medias : 2
		&[data-composition="format-60/40"] {
			& .portfolio_media:first-child {
				grid-column: span 2;
			}
		}

		// Format 2/3 - 1/3
		// Nombre de medias : 3 maximum
		&[data-composition="format-60/40-3"] {
			grid-template-rows: repeat(3, 1fr);

			& .portfolio_media:first-child {
				grid-column: span 2;
				grid-row: 1 / -1;
			}

			// & .portfolio_media {
			// 	grid-column: 3 / 4;
			// }
		}

		// Format 1/3 - 2/3
		// Nombre de medias : 2 maximum
		&[data-composition="format-40/60"] {
			& .portfolio_media {
				grid-column: span 1;
			}

			& .portfolio_media:last-child {
				grid-column: 2 / 4;
				grid-row: 1 / -1;
			}
		}

		// Format 1/3 - 2/3
		// Nombre de medias : 3 maximum
		&[data-composition="format-40/60-3"] {
			grid-template-rows: repeat(3, 1fr);

			& .portfolio_media {
				grid-column: 1 / 2;
			}

			& .portfolio_media:last-child {
				grid-column: 2 / 4;
				grid-row: 1 / -1;
			}
		}
	}
}

// .portfolio_media {}

.portfolio_caption {
	margin-top: var(--space-2xs);
}

.portfolio_caption-heading {
	font-weight: 500;
	color: var(--color-primary);
}

.portfolio_caption-credits {
	font-weight: 300;
}

.portfolio_caption-heading,
.portfolio_caption-credits {
	font-size: var(--step--3);
	line-height: 1.1;
}
