// ========================================
// Portfolio : compositions
// ========================================

@use "../tools/mq" as mq;

.portfolio {
	margin-top: var(--space-l-xl);

	// Variante .breakout (projet) //
	&.breakout {
		--item-space: var(--space-2xl);
		margin-top: var(--space-2xl-3xl);
	}

	// Variante slideshow (carousel)
	&[data-variant="slideshow"] {
		& .splide {
			max-width: 100%;
			height: calc(100vh - var(--gutter) * 2);

			&.is-initialized {
				& .splide__slide img {
					opacity: 0;
				}

				& .splide__slide.is-active img {
					opacity: 1;
				}
			}
		}

		& .splide__track {
			height: calc(100% - var(--space-2xl));
		}

		// Navigation
		& .splide__arrows {
			position: absolute;
			bottom: calc(var(--space-2xs) * -1);
			right: 0;
		}

		& .splide__arrow {
			background: none;
			position: initial;
			transform: none;
			display: inline-flex;
			opacity: 1;
			width: auto;
			height: auto;

			& svg {
				width: var(--space-l-xl);
				height: auto;
			}

			&:disabled svg {
				opacity: 0.3;
			}
		}

		& .splide__arrow--prev {
			margin-right: var(--space-s);
		}

		& .splide__slide {
			max-width: 100%;
			width: 100%;
			// Alignement sur la colonne de texte principale
			padding-left: calc((100vw - var(--wrapper-narrow-max-width)) / 2);

			& figure {
				height: 100%;
			}

			& img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: left center;
				transition: opacity 0.25s ease-in;
			}
		}

		& .splide__number {
			position: absolute;
			bottom: 0;
			left: max(calc((100vw - var(--wrapper-narrow-max-width)) / 2), 0vw);
			display: flex;
			font-family: var(--font-family-mono);

			& .number__index {
				align-self: flex-start;
				color: var(--color-primary);
			}

			& .number__length {
				align-self: flex-end;
			}

			& .number__separator {
				font-size: var(--step-4);
				font-weight: 300;
			}
		}
	}
}

.portfolio_item {
	& + & {
		margin-top: var(--item-space, var(--space-m-l));
	}

	&[data-composition] {
		display: grid;
		gap: var(--space-m-l);
		grid-template-columns: repeat(3, 1fr);

		// Disposition par défaut, chaque image sur une colonne (plein format)
		& .portfolio_media {
			grid-column: 1 / -1;
		}
	}

	// Pour une largeur >= 576px, l'éditeur peut choisir des compositions Spip
	// associées aux albums et disposer les images selon des formats différents.
	@include mq.mq($from: 576px) {
		&[data-composition] {
			& .portfolio_media {
				grid-column: auto;
			}
		}

		// Format 100%
		&[data-composition="format-100"] {
			& .portfolio_media {
				grid-column: 1 / -1;
			}
		}

		// Format 1/2 - 1/2
		// Nombre de medias : indifférent
		&[data-composition="format-50"] {
			grid-template-columns: repeat(6, 1fr);

			& .portfolio_media {
				grid-column: span 3;
			}
		}

		&[data-composition="format-75/25"] {
			grid-template-columns: repeat(6, 1fr);

			& .portfolio_media:first-child {
				grid-column: span 4;
			}

			& .portfolio_media {
				grid-column: span 2;
			}
		}

		&[data-composition="format-80/20"] {
			grid-template-columns: repeat(8, 1fr);

			& .portfolio_media:first-child {
				grid-column: span 6;
			}

			& .portfolio_media {
				grid-column: span 2;
			}
		}

		&[data-composition="format-20/80"] {
			grid-template-columns: repeat(8, 1fr);

			& .portfolio_media:first-child {
				grid-column: span 2;
			}

			& .portfolio_media {
				grid-column: span 6;
			}
		}

		// Format 1/3 - 1/3 - 1/3
		// Nombre de medias : indifférent
		// Remarque : les styles déjà définis plus haut
		// &[data-composition="format-33"] {
		// 	grid-template-columns: repeat(3, 1fr);
		//
		// 	& .portfolio_media {
		// 		grid-column: auto;
		// 	}
		// }

		&[data-composition="format-33-center"] {
			& .portfolio_media {
				grid-column: 2/3;
			}
		}

		// Format 2/3 - 1/3
		// Nombre de medias : 2
		&[data-composition="format-60/40"] {
			& .portfolio_media:first-child {
				grid-column: span 2;
			}
		}

		// Format 2/3 - 1/3
		// Nombre de medias : 3 maximum
		&[data-composition="format-60/40-3"] {
			grid-template-rows: repeat(3, 1fr);

			& .portfolio_media:first-child {
				grid-column: span 2;
				grid-row: 1 / -1;
			}

			// & .portfolio_media {
			// 	grid-column: 3 / 4;
			// }
		}

		// Format 1/3 - 2/3
		// Nombre de medias : 2 maximum
		&[data-composition="format-40/60"] {
			& .portfolio_media {
				grid-column: span 1;
			}

			& .portfolio_media:last-child {
				grid-column: 2 / 4;
				grid-row: 1 / -1;
			}
		}

		// Format 1/3 - 2/3
		// Nombre de medias : 3 maximum
		&[data-composition="format-40/60-3"] {
			grid-template-rows: repeat(3, 1fr);

			& .portfolio_media {
				grid-column: 1 / 2;
			}

			& .portfolio_media:last-child {
				grid-column: 2 / 4;
				grid-row: 1 / -1;
			}
		}
	}
}

.portfolio_media {
	& img {
		width: 100%;
	}
}

.portfolio_caption {
	margin-top: var(--space-2xs);
}

.portfolio_caption-heading {
	font-weight: 500;
	color: var(--color-primary);
}

.portfolio_caption-credits {
	font-weight: 300;
}

.portfolio_caption-heading,
.portfolio_caption-credits {
	font-size: var(--step--3);
	line-height: 1.1;
}
