// ========================================
// PROSE
//
// Mise en forme du contenu produit par Spip
//
// ========================================

.prose {
	--flow-space: var(--space-s-m);

	& :is(p, li) {
		max-width: unset;
	}

	& :is(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote) {
		max-width: 70ch;
	}

	& :is(h2) {
		display: inline-block;
		color: var(--color-ink);
		border-bottom: 0.25em solid var(--color-primary);
		padding-left: 0.5em;
		padding-right: 0.1em;
		margin-left: -0.5em;
	}

	& :is(h3, h4, h5, h6) {
		color: var(--color-primary);
	}

	& :is(figure, figure + *) {
		--flow-space: var(--space-2xl-3xl);
	}

	& :is(h2 + *, h3 + *, h4 + *, h5 + *, h6 + *):not(figure) {
		--flow-space: var(--space-s-m);
	}

	& :is(h2, h3, h4, h5, h6, h2 + h3, h3 + h4, h4 + h5, h5 + h6) {
		--flow-space: var(--space-xl-2xl);
	}
}
