// ========================================
// PROSE
//
// Mise en forme du contenu produit par Spip
//
// ========================================

.prose {
	// font-size: var(--step-1);

	h2,
	h3,
	h4,
	h5,
	h6,
	figure,
	figure + * {
		margin-top: var(--space-xl-2xl);
	}

	h2 + *,
	h3 + *,
	h4 + *,
	h5 + *,
	h6 + * {
		margin-top: var(--space-s);
	}

	h2 + h3,
	h3 + h4,
	h5 + h6 {
		margin-top: var(--space-l-xl);
	}

	h2 {
		display: inline-block;
		color: var(--color-ink);
		border-bottom: 0.25em solid var(--color-primary);
		padding-left: 0.5em;
		padding-right: 0.1em;
		margin-left: -0.5em;
	}

	h3,
	h4,
	h5,
	h6 {
		color: var(--color-primary);
	}
}
