// ========================================
// Related content
// ========================================

@use "../abstract" as abstract;

.related {
	padding: var(--space-xl) 0;
	background-color: var(--color-secondary);
}

.related_headline {
	margin-bottom: var(--flow-space);
	color: var(--color-secondary-contrast);
	font-size: var(--step-3);
	text-transform: uppercase;
	font-weight: 500;

	&.with-offset-icon {
		--icon-size: 0.75em;
		display: flex;
		gap: var(--space-2xs);
		align-items: baseline;

		@media (min-width: abstract.$wrapper-narrow-max-width) {
			margin-left: calc((0.75em + var(--space-2xs)) * -1);
		}
	}
}
