@use "sass:color";
@use "sass:map";
@use "../abstract/clla-couleurs" as colors;
@use "../tools/mq" as mq;

.site-footer {
	font-size: var(--step--3);
	padding: var(--space-2xl) var(--gutter);
}

.site-footer_container {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-l) 1rem;
}

.site-footer_inner {
	--gutter: var(--space-xl) var(--space-m);
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}

.site-footer_brand {
	width: 100%;
	max-width: var(--logo-max-width);
	margin-left: auto;
	margin-right: auto;
}

.site-footer_content {
	--grid-placement: auto-fit;
}

.site-footer_col {
	display: flex;
	flex-direction: column;
	padding-left: var(--space-s);
	position: relative;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 1px;
		background-color: map.get(colors.$juniper, 700);
	}
}

@include mq.mq($from: 1024px) {
	.site-footer_inner {
		grid-template-columns: repeat(2, 1fr);
	}

	.site-footer_brand {
		margin-bottom: var(--space-m);
	}

	.site-footer_content {
		grid-template-columns: repeat(2, 1fr);
	}
}
