@use "../tools/mq" as mq;

.site-footer {
	font-size: var(--step--3);
	padding: var(--space-2xl) var(--gutter);
	background-color: hsl(0, 0%, 100%);
	border-top: 1px solid hsl(0, 0%, 90%);
}

.site-footer_container {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-l) 1rem;
}

.site-footer_inner {
	--gutter: var(--space-xl) var(--space-m);
	grid-template-columns: repeat(1, 1fr);
	// align-items: center;
}

.site-footer_brand {
	width: 100%;
	max-width: var(--logo-max-width);
}

.site-footer_content {
	--grid-placement: auto-fit;
	--gutter: var(--space-m);
}

.site-footer_col {
	display: flex;
	flex-direction: column;
	padding-left: var(--space-s);
	position: relative;
}

@include mq.mq($from: 1024px) {
	.site-footer_inner {
		grid-template-columns: repeat(2, 1fr);
	}

	.site-footer_brand {
		//margin-bottom: var(--space-m);
		margin-top: -2rem;
	}

	.site-footer_content {
		grid-template-columns: repeat(2, 1fr);
	}
}
