// ========================================
// Breakout
//
// Règle de mise en page qui permet de
// faire sortir un élément des limites
// de son parent.
// ========================================

.breakout {
	width: calc(100vw - calc(var(--gutter) * 2));
	max-width: var(--breakout-max-width, 113rem);
	margin-left: 50%;
	transform: translateX(-50%);
}
