// Grid

@use "../tools/mq" as mq;

.grid {
	display: grid;
	gap: var(--gutter);
	grid-template-columns: repeat(var(--grid-placement, auto-fill),
			minmax(var(--grid-min-item-size, 16rem), 1fr));

	&[data-layout="projets"] {
		--grid-placement: auto-fill;
		--grid-min-item-size: min(100%, 31ch);
		gap: var(--space-l);
	}

	&[data-layout="journal"] {
		--grid-min-item-size: min(220px, 100%);
		gap: var(--space-l);
	}

	&[data-layout="related"] {
		gap: var(--space-l);

		@include mq.mq($from: 576px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&.grid-autofit[data-layout="related"] {
		grid-template-columns: repeat(auto-fit, minmax(min(220px, 100%), 1fr));
	}
}
