// Grid

.grid {
	display: grid;
	gap: var(--gutter);
	grid-template-columns: repeat(
		var(--grid-placement, auto-fill),
		minmax(var(--grid-min-item-size, 16rem), 1fr)
	);

	&[data-grid-layout="projets"] {
		--grid-placement: auto-fill;
		--grid-min-item-size: min(100%, 31ch);
		gap: var(--space-l);
	}

	&[data-grid-layout="journal"],
	&[data-grid-layout="related"] {
		--grid-min-item-size: min(220px, 100%);
		gap: var(--space-l);
	}

	// Variante .breakout (projets)
	&.breakout[data-grid-layout="related"] {
		--grid-min-item-size: min(100%, 31ch);
	}
}
