// ========================================
// Interactions :
// selection, focus, focus-visible
// ========================================

::selection {
	background-color: var(--color-ink);
	color: var(--color-paper);
}

*:focus-visible,
[type="button"]:focus-visible,
[type="reset"]:focus-visible,
[type="submit"]:focus-visible,
button:focus-visible,
.button:focus-visible,
iframe:focus-visible {
	outline: 2px solid var(--color-ink);
	outline-offset: 3px;
}
