// ========================================
// Variables spécifiques au site
// ========================================

// Typo
$font-family-mono: "PressuraMono", ui-monospace, SFMono-Regular, Menlo, Monaco,
	Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-sans: "Pressura", Helvetica, Roboto, Arial, ui-sans-serif,
	system-ui, -apple-system, "Apple Color Emoji", "Segoe UI Emoji",
	"Segoe UI Symbol", "Noto Color Emoji", sans-serif;

// Mise en page
$flow-space: var(--space-s-m);
// Calcul des variables de grille, voir abstract/utopia-grid.scss
$gutter: var(--space-l, clamp(0.88rem, calc(0.25rem + 2.96vw), 3rem));
$wrapper-max-width: 93rem; // 1488px
