// ========================================
// Variables couleurs
// ========================================

@use "sass:map";

$base: (
	"black": hsl(0, 0%, 0%),
	"white": hsl(0, 0%, 97%),
);

$juniper: (
	50: hsl(190, 17%, 86%),
	100: hsl(195, 17%, 82%),
	200: hsl(194, 17%, 74%),
	300: hsl(194, 17%, 66%),
	400: hsl(193, 17%, 58%),
	500: hsl(194, 17%, 50%),
	600: hsl(195, 17%, 39%),
	700: hsl(192, 17%, 28%),
	800: hsl(196, 17%, 17%),
	900: hsl(192, 16%, 6%),
	950: hsl(0, 0%, 0%),
);

$primaire: hsl(13, 86%, 49%);
$secondaire: map.get($juniper, 500);
$tertiaire: hsl(226, 39%, 23%);
