// ========================================
// Variables couleurs
// ========================================

$base: (
	"black": hsl(0, 0%, 0%),
	"white": hsl(0, 0%, 97%),
);

$primaire: hsl(13, 86%, 49%);

$juniper: (
	"DEFAULT": "#6A8B95",
	50: "#D5DFE1",
	100: "#C9D5D9",
	200: "#B2C3C8",
	300: "#9AB0B7",
	400: "#829EA6",
	500: "#6A8B95",
	600: "#536C74",
	700: "#3B4E53",
	800: "#242F33",
	900: "#0D1112",
	950: "#010101",
);
