// ========================================
// Variables couleurs
// ========================================

@use "sass:map";

$base: (
	"ink": hsl(0, 0%, 0%),
	"paper": hsl(0, 0%, 97%),
	"white": hsl(0, 0%, 100%),
);

// couleur primaire
$pomegranate: (
	50: hsl(13, 87%, 85%),
	100: hsl(13, 86%, 81%),
	200: hsl(13, 87%, 73%),
	300: hsl(13, 87%, 65%),
	400: hsl(13, 86%, 57%),
	500: hsl(13, 86%, 49%),
	600: hsl(13, 87%, 38%),
	700: hsl(13, 87%, 27%),
	800: hsl(13, 85%, 16%),
	900: hsl(11, 84%, 5%),
	950: hsl(0, 0%, 0%),
);

// couleur secondaire
$storm-gray: (
	50: hsl(233, 9%, 82%),
	100: hsl(234, 9%, 78%),
	200: hsl(236, 9%, 70%),
	300: hsl(233, 9%, 62%),
	400: hsl(234, 9%, 54%),
	500: hsl(237, 9%, 46%),
	600: hsl(232, 9%, 35%),
	700: hsl(235, 9%, 24%),
	800: hsl(230, 9%, 13%),
	900: hsl(240, 9%, 2%),
	950: hsl(0, 0%, 0%),
);

$cloud: (
	50: hsl(30, 10%, 96%),
	100: hsl(20, 7%, 92%),
	200: hsl(24, 6%, 84%),
	300: hsl(22, 7%, 76%),
	400: hsl(20, 7%, 65%),
	500: hsl(23, 7%, 54%),
	600: hsl(21, 6%, 43%),
	700: hsl(22, 7%, 32%),
	800: hsl(26, 7%, 21%),
	900: hsl(20, 6%, 10%),
	950: hsl(0, 4%, 5%),
);

// couleur tertiaire
$cloud-burst: (
	50: hsl(227, 39%, 75%),
	100: hsl(227, 39%, 71%),
	200: hsl(227, 39%, 63%),
	300: hsl(227, 39%, 55%),
	400: hsl(227, 39%, 47%),
	500: hsl(227, 39%, 39%),
	600: hsl(226, 39%, 31%),
	700: hsl(227, 39%, 23%),
	800: hsl(228, 39%, 12%),
	900: hsl(240, 33%, 1%),
	950: hsl(0, 0%, 0%),
);

$chilean-fire: (
	50: hsl(29, 100%, 84%),
	100: hsl(29, 100%, 80%),
	200: hsl(29, 100%, 72%),
	300: hsl(29, 100%, 64%),
	400: hsl(29, 100%, 56%),
	500: hsl(29, 100%, 48%),
	600: hsl(29, 100%, 37%),
	700: hsl(29, 100%, 26%),
	800: hsl(29, 100%, 15%),
	900: hsl(29, 100%, 4%),
	950: hsl(0, 0%, 0%)
);

$colors: (
	"ink": map.get($base, "ink"),
	"paper": map.get($base, "paper"),
	"primary": map.get($pomegranate, 500),
	"primary-900": map.get($pomegranate, 900),
	"secondary": map.get($cloud, 300),
	"secondary-700": map.get($cloud, 700),
	"secondary-400": map.get($cloud, 400),
	"secondary-200": map.get($cloud, 200),
	// "secondary-contrast": map.get($cloud, 900),
	// "mute": map.get($cloud, 700),
	// "mute-light": map.get($cloud, 400),
	// "mute-lighter": map.get($cloud, 200),
	// "tertiary": map.get($cloud-burst, 700),,,,
);
