// ========================================
// Variables couleurs
// ========================================

@use "sass:map";

$base: (
	"black": hsl(0, 0%, 0%),
	"white": hsl(0, 0%, 97%),
);

// couleur primaire
$pomegranate: (
	50: hsl(13, 87%, 85%),
	100: hsl(13, 86%, 81%),
	200: hsl(13, 87%, 73%),
	300: hsl(13, 87%, 65%),
	400: hsl(13, 86%, 57%),
	500: hsl(13, 86%, 49%),
	600: hsl(13, 87%, 38%),
	700: hsl(13, 87%, 27%),
	800: hsl(13, 85%, 16%),
	900: hsl(11, 84%, 5%),
	950: hsl(0, 0%, 0%),
);

// couleur secondaire
$storm-gray: (
	50: hsl(233, 9%, 82%),
	100: hsl(234, 9%, 78%),
	200: hsl(236, 9%, 70%),
	300: hsl(233, 9%, 62%),
	400: hsl(234, 9%, 54%),
	500: hsl(237, 9%, 46%),
	600: hsl(232, 9%, 35%),
	700: hsl(235, 9%, 24%),
	800: hsl(230, 9%, 13%),
	900: hsl(240, 9%, 2%),
	950: hsl(0, 0%, 0%),
);

// couleur tertiaire
$cloud-burst: (
	50: hsl(227, 39%, 75%),
	100: hsl(227, 39%, 71%),
	200: hsl(227, 39%, 63%),
	300: hsl(227, 39%, 55%),
	400: hsl(227, 39%, 47%),
	500: hsl(227, 39%, 39%),
	600: hsl(226, 39%, 31%),
	700: hsl(227, 39%, 23%),
	800: hsl(228, 39%, 12%),
	900: hsl(240, 33%, 1%),
	950: hsl(0, 0%, 0%),
);

$colors: (
	"ink": map.get($base, "black"),
	"paper": map.get($base, "white"),
	"primary": map.get($pomegranate, 500),
	"secondary": map.get($storm-gray, 300),
	"tertiary": map.get($cloud-burst, 700),
);
