@use "sass:map";
// variables
@use "clla-variables" as var;
@use "clla-couleurs" as color;
// utopia custom properties
@use "utopia-type";
@use "utopia-space";

:root {
	// Typo
	--font-family-base: #{var.$font-family-sans};
	--font-family-mono: #{var.$font-family-mono};
	// Couleurs
	--color-paper: #{map.get(color.$base, "white")};
	--color-ink: #{map.get(color.$base, "black")};
	--color-primary: #{color.$primaire};
	// Principes de mise en page
	// -- Containers
	--wrapper-max-width: #{var.$wrapper-max-width};
	// -- Gouttière
	--gutter: #{var.$gutter};
	// -- Flow space
	--flow-space: #{var.$flow-space};
}
