/* @link https://utopia.fyi/space/calculator?c=338,18,1.125,1488,24,1.125,7,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,xs-l&g=xs,l,xl,12 */

:root {
	--space-3xs: clamp(0.31rem, calc(0.29rem + 0.09vw), 0.38rem);
	--space-2xs: clamp(0.56rem, calc(0.51rem + 0.26vw), 0.75rem);
	--space-xs: clamp(0.88rem, calc(0.8rem + 0.35vw), 1.13rem);
	--space-s: clamp(1.13rem, calc(1.01rem + 0.52vw), 1.5rem);
	--space-m: clamp(1.69rem, calc(1.52rem + 0.78vw), 2.25rem);
	--space-l: clamp(2.25rem, calc(2.03rem + 1.04vw), 3rem);
	--space-xl: clamp(3.38rem, calc(3.04rem + 1.57vw), 4.5rem);
	--space-2xl: clamp(4.5rem, calc(4.06rem + 2.09vw), 6rem);
	--space-3xl: clamp(6.75rem, calc(6.09rem + 3.13vw), 9rem);

	/* One-up pairs */
	--space-3xs-2xs: clamp(0.31rem, calc(0.18rem + 0.61vw), 0.75rem);
	--space-2xs-xs: clamp(0.56rem, calc(0.4rem + 0.78vw), 1.13rem);
	--space-xs-s: clamp(0.88rem, calc(0.69rem + 0.87vw), 1.5rem);
	--space-s-m: clamp(1.13rem, calc(0.79rem + 1.57vw), 2.25rem);
	--space-m-l: clamp(1.69rem, calc(1.3rem + 1.83vw), 3rem);
	--space-l-xl: clamp(2.25rem, calc(1.59rem + 3.13vw), 4.5rem);
	--space-xl-2xl: clamp(3.38rem, calc(2.6rem + 3.65vw), 6rem);
	--space-2xl-3xl: clamp(4.5rem, calc(3.18rem + 6.26vw), 9rem);

	/* Custom pairs */
	--space-xs-l: clamp(0.88rem, calc(0.25rem + 2.96vw), 3rem);
}
